<div class="modal-header">
  <h3 class="modal-title">API Key Identification</h3>
</div>
<div class="modal-body">
  <form role="form" class="form-horizontal" ng-submit="authenticate(apiKey)">
    <div class="form-group">
      <label class="col-sm-3">Client ID</label>
      <div class="col-sm-9">
        <div class="noAppsFound" ng-hide="creds.length">Register an application in order to select a Client ID.</div>
        <select class="form-control" id="apiKey" ng-model="apiKey" ng-options="cred.clientid as cred.descr for cred in clientids"></select>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  <button class="btn btn-primary" ng-click="authenticate(apiKey)"
    ng-disabled="!apiKey">Save credentials</button>
</div>
